.gpt3_blog{
    display: flex;
    flex-direction: column;
}

.gpt3_blog-heading{
    width: 100%;
    /* text-align: left; */
    margin-bottom: 5rem;
}

.gpt3_blog-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    letter-spacing: -0.04em;
}

.gpt3_blog-container{
    display: flex;
    flex-direction: row;
}

.gpt3_blog-container_groupA{
    flex: 0.75;
    margin: 2rem;
}

.gpt3_blog-container_groupB{
    margin: 2rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width:990px) {
    .gpt3_blog-container{
        flex-direction: column;
    }

    .gpt3_blog-container_groupA{
        margin: 2rem;
    }

    .gpt3_blog-container_groupA .gpt3_blog-container_artical{
        width: 48%;
    }

    .gpt3_blog-container_groupA .gpt3_blog-container_artical-image{
        height: 250px;
    }
}


@media screen and (max-width:700px) {
    .gpt3_blog-container_groupB{
        grid-template-columns: repeat(1, 1fr);
    }

    .gpt3_blog-container_groupA .gpt3_blog-container_artical{
        width: 100%;
    }

    .gpt3_blog-heading h1{
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3_blog-heading h1{
        font-size: 34px;
        line-height: 42px;
        margin-left: 2rem;
    }
}