.gpt3__brand
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gpt3__brand div
{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 150px;
    min-width: 120px;
    margin: 1rem;

}
