.whatisgpt3
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);
    
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gpt3__whatgpt3
{
    display: flex;
}

.gpt3__whatgpt3 .gpt3__whatgpt3_container-text
{
    max-width: 700px;
}

.gpt3_heading
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0 2rem;
}

.gpt3_heading h1{
    margin-left: 1rem;
    font-family: var(--font-family);
    max-width: 510px;
    font-weight: 800;
    line-height: 45px;
}

.gpt3_heading p{
    font-size: 1.5rem;
    margin-right: 3rem;
    font-weight: 500;
    font-family: var(--font-family);
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.gpt__whatgpt3_container
{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}


@media screen and (max-width:1100px) {
    .gpt__whatgpt3_container
    {
        flex-direction: column;
    }
}



@media screen and (max-width:776px) {
    .gpt__whatgpt3_container
    {
        flex-direction: column;
    }
}


@media screen and (max-width: 520px){
    .gpt__whatgpt3_container
    {
        flex-direction: column;
    }
}