.gpt3__feature-container__feature
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}


.gpt3__feature-container__feature-title
{
    flex: 1;
    margin-right: 2rem;
}

.gpt3__feature-container__feature-title h1{
    color:#ffffff;
    font-family:var(--font-family);
    letter-spacing: -0.04em;
    font-weight: 800;
}

.blank{

    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
    min-width: 180px;
    height: 0.25rem;
}

.gpt3__feature-container_feature-text
{
    flex: 2;
    /* min-width: 390px; */
    width: 100%;
    display: flex;
    color: var(--color-text);
}

.gpt3__feature-container__feature-text p
{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color:var(--color-text);
}


@media screen and (max-width: 600px) {
    .gpt3__feature-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .gpt3__feature-container_feature-text
    {
        min-width: 250px;
    }

    .gpt3__feature-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .gpt3__feature-container__feature {
        margin: 1rem 0;
    }
}