.gpt3_possibility
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gpt3_possibility-image
{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.gpt3_possibility-image img
{
    width: 100%;
    height: 100%;
}

.gpt3_possibility-content
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.gpt3_possibility-content h4{
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-fammily);
    line-height: 30px;
    font-style: normal;
}

.gpt3_possibility-content h4:last-child{
    color: #FF8A71;
}

.gpt3_possibility-content h1{
    font-family: var(--font-fammily);
    line-height: 45px;
    font-size: 34px;
    font-weight: 800;
    margin: 1rem 0;
}


.gpt3_possibility-content p{
    font-family: var(--font-fammily);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width:950px) {
    .gpt3_possibility
    {
        margin-left: 2rem;
        flex-direction: column;
    }
    .gpt3_possibility-image
    {
        margin: 1rem 0;
    }

    .gpt3_possibility-content
    {
        margin-top: 2rem;
    }


    
}
