.gpt3_features
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gpt3__features-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
    min-width: 19%;
    max-width: fit-content;
}
.gpt3__features-heading h1{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    font-size: 34px;
}

.gpt3__features-heading p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight:400;
    line-height: 30px;
    color: #FF8A71;
    margin-top: 2rem;
}

.gpt3__features-container
{
    /* max-width: 50%; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1.5;
    align-items: center;
    margin-right: 1rem;
}


@media screen and (max-width:990px) {
    .gpt3_features
    {
        flex-direction: column;
    }

    .gpt3__features-heading
    {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width:550px) {
    .gpt3__features-heading
    {
        font-size: 28px;
        line-height: 38px;
    }
}