.gpt3_footer{
    display: flex;
    text-align: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-footer);
}

.gpt3_footer-heading{
    width: 100%;
    text-align: center;
}

.gpt3_footer-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.gpt3_footer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid white;
    margin-bottom: 2rem;
}

.gpt3_footer-btn p{
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: 21px;
    word-spacing: 2px;
    color: white;
}


.gpt3_footer-link{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    text-align: left;
}

.gpt3_footer-link div{
    width: 1fr;
    margin: 1rem;
}

.gpt3_footer-link_logo img{
    width: 180px;
    height: 30px;
    margin-bottom: 1rem;
}

.gpt3_footer-link_logo p{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.gpt3_footer-links-div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.gpt3_footer-links-div h4{
    color: white;
    font-family: var(--font-family);
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 1rem;
}
.gpt3_footer-links-div p{
    color: white;
    font-family: var(--font-family);
    line-height: 16px;
    font-size: 14px;
    margin: 1rem 0;
    cursor: pointer;
}

.gpt3_footer-copyright{
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.gpt3_footer-copyright p{
    color: white;
    font-family: var(--font-family);
    line-height: 16px;
    font-size: 14px;
}


@media screen and (max-width: 850px) {
    .gpt3_footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3_footer-heading h1{
        font-size: 32px;
        line-height: 42px;
    }
    .gpt3_footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }

    .gpt3_footer-links-div{
        margin: 1rem 0;
    }
}